<!DOCTYPE html>
<html>
<head>
  <%- include mod/head.ejs %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%- include mod/main_header.ejs %>    
    <%- include mod/main_sidebar.ejs %>    
    <%- include pages/index_sub.ejs %>  
    <%- include mod/copyright.ejs %>
    <!-- 우측사이드바-->
    <%- include mod/config.ejs %>
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->
  <%- include mod/foot.ejs %>
</body>
</html>